{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ judul }} </title>
</head>

<body>
    <h1>{{judul}}</h1>
    <h1>INI BLOG : {{nama}}</h1>
    <img width="500px" src="{% static 'img/img2.jpg'%}" alt="">
    <ul>
        {% for link,name in nav %}
            <li>
                <a href="{{link}}">{{name}}</a>
            </li>
        {% endfor %}
    </ul>
</body>

</html>

